.title{
font-size: 42px;
line-height: 56px;
color: #000000;
font-weight: 800;
}
.title1{
  margin-top: 2%;
  margin-left: 5%;
}
.para1{
font-size: 14px;
color: #5863f8;
font-weight: 700;
}

.formflex{
display: flex;
justify-content: space-around;
}
.oneblock{
  margin-left: 5%;
  padding: 2%;
/*margin-right: 3%;*/
}
.twoblok{
  margin-left: 5%;
  padding-top: 0%;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 4% 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}
input[type=submit]{
  width: 70%;
  height: 60px;
background-color: #5863f8;
}
input[type=submit]:hover{
  width: 70%;
height: 60px;
color: white;
background-color: black;
}


/*and of one section*/

/*.....*/
.namber{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
.fa-envelope,
 .fa-phone,
 .fa-map-marker{
background-color: #5863f8;
align-items: center;
}
.color{
  /*position: relative;*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5863F8;
  padding: 15px;
  margin-bottom: 15%;
}

.fa-envelope,
.fa-phone,
.fa-map-marker {
  margin-bottom: 15%;
}
/*......*/
/*...........*/
.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1%;
  padding: 2%;
}
.photo{
padding: 5%;
}
.d-footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 200px;
  color: white;
  align-items: center;
}
.col2 a{
  margin-bottom: 10%;
}
.title2{
  font-size: 30px;
  margin-bottom: 5%;
}
.color1{
   align-items: center;
   width: 59px;
  height: 59px;
  border-radius: 50%;
  background-color: #5863F8;
  margin: 5%;
  padding: 1%;
}
.col2 .fa{
  width: 15%;
  height:10%;
  border-radius: 5%;
}
